@{
    ViewData["Title"] = "Docs";
}

<h1>Documentation</h1>
<p>Here you can find the documentation for my projects and technologies used:</p>
<ul>
    <li><a href="link-to-doc1">Documentation for Project 1</a></li>
    <li><a href="link-to-doc2">Documentation for Project 2</a></li>
    <li><a href="link-to-doc3">Documentation for Project 3</a></li>
</ul>
